
.ipynb_checkpoints/Pynkowski_test-checkpoint.ipynb
pynkowski/__pycache__/
pynkowski/data/__pycache__/
pynkowski/theory/__pycache__/
sphinx/
docs/.conf.py.kate-swp
.ipynb_checkpoints/
dist/
pynkowski/pynkowski.egg-info/
setup.py
Pynkowski_test.ipynb
