
.ipynb_checkpoints/*

pynkowski/__pycache__/
pynkowski/data/__pycache__/
pynkowski/theory/__pycache__/
pynkowski/data/__pycache__/__init__.cpython-39.pyc
pynkowski/pynkowski.egg-info/
sphinx/
dist/
.ipynb_checkpoints/
Pynkowski_test.ipynb

*.egg-info
*.kate-swp
*.pyc
